<%= form_for(blog) do |form| %>
  <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.text_field :title, class: "form-control", placeholder: "Title" %>
  </div>

  <div class="mb-3">
    <%= form.text_area :body, class: "form-control", rows: 15, placeholder: "Content" %>
  </div>

  <div class="d-grid gap-2 mb-3">
    <%= form.submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
