<div class="container">
  <div class="row g-0">
    <div class="col-md-8">
      <%= image_tag @portfolio_item.main_image, width: "420px" %>
    </div>

    <div class="col-md-4">
      <h1><%= @portfolio_item.title %></h1>
      <hr/>

      <em><%= @portfolio_item.subtitle %></em>
      <p><%= @portfolio_item.body %>

      <% if @portfolio_item.technologies.count > 0 %>
        <hr/>
        <h3>Technologies Used:</h3> 
        <% @portfolio_item.technologies.each do |t| %>
          <p> <%= t.name %></p>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

