<% if @feature %>
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
  <div class="col-md-6 px-0">
    <h1 class="display-4 fst-italic feature-title"><%= @feature.title %></h1>
    <p class="lead my-3"><%= markdown @feature.body[0..35] %></p>
    <p class="lead mb-0"><%= link_to "Continue reading...", @feature, class: "text-white fw-bold" %>
    <p class="lead mb-0">
      <%= link_to "Write a New Blog", new_blog_path if logged_in?(:site_admin)  %> 
    </p>
  </div>
</div>
<% end %>
<div class="row mb-2">
  <%= render "shared/featured" %>
</div>
