<% @featured.each do |f| %>
<div class="col-md-6">
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
    <div class="col p-4 d-flex flex-column position-static">
      <strong class="d-inline-block mb-2 text-primary"><%= f.topic.title %></strong>
      <h3 class="mb-0"><%= f.title %></h3>
      <div class="mb-1 text-muted"><%= f.created_at.strftime("%b %y") %></div>
      <p class="card-text mb-auto"><%= markdown f.body[0..30] %></p>
      <%= link_to "Continue reading", f, class: "stretched-link" %>
    </div>
    <div class="col-auto d-none d-lg-block">
      <%= image_tag image_generator(height: 200, width: 250) %>
    </div>
  </div>
</div>
<% end %>
