<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @page_title %></title>
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_jquery %>

    <meta name="keywords" content="<%= @seo_keywords %>"/>

    <%= favicon_link_tag 'favicon/favicon.ico' %>
    <%= stylesheet_link_tag "blogs", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render 'shared/blog_nav' %>

    <main class="container">
      <%= render "shared/blog_masthead" %>
      <div class="row g-5">

        <%= yield %>

        <%= render "shared/blog_sidebar" %>
      </div>
    </main>

    <%= render "shared/blog_footer" %>

    <%= alerts %>

  </body>
</html>
